@import url(../css/reset.css);
@import url(../css/fonts.css);

/* index styles */
html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%
}

@media(max-width: 935px) {
    .lock{
        overflow: hidden;
    }
}

.container {
    width: 100%;
    max-width: 1367px;
    padding: 0 15px;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
    width: 100%;
    max-width: 2667px;
    z-index: 20;
    background-color: #ffffff;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFF;
    z-index: 50;
}

.header__inside-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__left-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo a:nth-child(1) {
    display: block;
}

.header__logo a:nth-child(2) {
    display: none;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #0A2D64;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    height: 42px;
}

.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    line-height: 100%;
    margin-left: 12px; 
}

.header__list-item, .header__link {
display: inline-flex;
text-align: center;
align-items: center;
height: 100%;
}

.header__link{
    margin-left: 15px;
    color: #0A2D64;
}

.header__link:hover{
color: #FF5372;
}

.header__link:active{
    color: #a71d36;
}

.header__right-part {
    height: 42px;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
}

.header__right-part div {
    padding: 0 12px; 
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-right: 0.1px solid #ADADAD;
    cursor: pointer;
}

.header__right-part div:last-child {
    border: none;
}

.header__search {
    height: 25px;
    width: 42px;
}

.header__search svg path {
fill: #4D1D9C;
}

.header__language {
    height: 26px;
    width: 26px;
}

.header__language img {
    max-width: 100%;
}

.header__currency {
color: #919191;
}

/* begin header @media styles  */
@media(max-width: 956px) {
    .header__burger {
        display: block;
        position: relative;
        width: 38px;
        height: 20px;
        margin: 0 20px 0 0;
        z-index: 30;
    }

    .header__burger:before, .header__burger:after, .header__burger span {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color:  #4D1D9C;
    }

    .header__burger span {
        top: 9.5px;
        display: block;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        top: 9.5px;
        transform: rotate(45deg);
        transition: all 0.3s ease 0.3ms;
    }

    .header__burger.active:after{
        bottom: 9.5px;
        transform: rotate(-45deg);
        transition: all 0.3s ease 0.3ms;
    }

    .header__burger.active span{
        transform: scale(0);
        transition: all 0.3s ease 0.3ms;
    }

    .header__logo a:nth-child(1) {
        display: none;
    }
    .header__logo a:nth-child(2) {
        display: block;
    }
    
    .header__list {
        position: fixed;
       top: -130%;
       left: 0;
        background-color: #e4e7f0;
        height: 100%;
        width: 100%;
        padding: 78px 0 0 0;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 0;
        transition: all 0.9s ease 0;
        font-size: 24px;
        margin: 0;
    }

    .header__list-item {
        margin-top: 50px;
        flex: 0 0 40px;
    }

    .header__list.active {
        top:0;
        left: 0;
        /* padding: 78px 0 0 0; */
        transition: all 0.5s ease 0.05ms;
        overflow: auto;
    }

    .header__right-part div:nth-child(1){
        cursor: auto;
    }

    .header__right-part div:nth-child(1) svg{
        display: none;
    }

}
/* end header @media styles  */


/* block styles */
.block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block__inside-part {
    display: flex;
    justify-content: center;
    align-items: center;
max-width: 3840px;
width: 100%;
padding: 0;
}

.block__image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 100%;
}
.block__image img {
    max-width: 100%;
    max-height: 100%;
    image-rendering: optimizeQuality;
}

/*begin wallaper @media */
@media(min-width: 1920px) {
    .block__image-item.block__image-item_1080p {
        display: none;
    }

    .block__image-item.block__image-item_1440p {
        display: block;
    }
}

@media(max-width: 1920px) {
    .block__image-item.block__image-item_1080p {
        display: block;
    }

    .block__image-item.block__image-item_1440p {
        display: none;
    }
}
/*end wallaper @media */

.block__square {
    position: absolute;
    top: 13px;
    right: 20px;
    background-color: #B500F5;
    width: 201px;
    height: 89px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: #ffff;
    line-height: 42px;
    width: 127px;
}

@media(max-width: 513px) {
    .block__square  {
        top: 3px;
    right: 7px;
    height: 49px;
    width: 101px;
    }
    .block__text {
        font-size: 14px;
        line-height: 22px;
        width: 63.5px;
            }
}
    
/*end block styles*/


.table {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 187px;
}

.table__inside-part {
    display: flex;
    flex-direction: column;
    padding: 0 0;
    height: 187px;
    width: calc(682/1152*100%);
    overflow: hidden;
    border-radius: 14px;
    background-color: #E9EDF3;
    border: 1px solid #E9EDF3;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.80);
    position: absolute;
    top: -50px;
}

@media(max-width: 1500px) {
.table__inside-part {
    width: calc(882/1152*100%);
}}

@media(max-width: 1170px) {
    .table__inside-part {
        width: calc(1082/1152*100%);
    }}

@media(max-width: 946px) {
    .table__inside-part {
        width: 100%;
        position: static;
    }}
@media(max-width: 910px) {
    .table {
        height: 267px;
    }
        .table__inside-part {
            height: 267px;
        }
    }

    @media(max-width: 459px) {
        .table {
            height: 367px;
        }
            .table__inside-part {
                height: 367px;
            }
        }

.table__row {
    display: flex;
    flex-direction: column;
}

.table__row_first {
    border-radius: 14px 14px 0 0;
}

.table__row_second {
    background-color: #FFFF;
    border-radius: 0 0 14px 14px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 19px;
}

.table__tabs {
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 14px 14px 0 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0, 0.32);
}

.table__tabs li {   
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: center;
    width: calc(200/1152*100%);
    border-radius: 14px 14px 0 0;
    background-color: rgba(255,255,255, 0);
}

@media(max-width: 690px) {
    .table__tabs li {
        width: calc(330/1152*100%);
    }
    }

.table__first-tab {
    
}

.table__first-tab.active {
    background-color: rgba(255,255,255, 1);
    color: rgba(0,0,0, 1);
}

.table__second-tab {

}

.table__second-tab.active {
        background-color: rgba(255,255,255, 1);
        color: rgba(0,0,0, 1);
}

.table__square-heading {
    background-color: #E9EDF3;
    font-size: 12px;
    font-weight: 400;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(140/1152*100%);
    height: 21px;
    margin: 14px 0 8px 0; 
    align-self: start;
}

@media(max-width: 690px) {
    .table__square-heading {
        width: calc(330/1152*100%);
    }
    }

.table__heading {
    font-size: 12px;
    font-weight: 400;
    border-radius: 14px;
}

.table__inputs {
    display: flex;
    align-items: center;
    border: 0.4px solid #B2B1B1;
    border-radius: 5px;
    height: 48px;
    max-height: 48px;
    text-align: center;
    justify-content: center;
    flex: 0 1 400px;
}

.table__form {
    display: block;
    display: flex;
    align-items: center;
    border: 0.4px solid #B2B1B1;
    border-radius: 5px;
    height: 48px;
    max-height: 48px;
    text-align: center;
    justify-content: center;
    flex: 0 1 400px;
}

@media(max-width: 910px) {
    .table__inputs {
        flex-wrap: wrap;
        border: 0;
    }
    .table__form {
        flex-wrap: wrap;
        border: 0;
    }
    }

.table__inputs div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    height: 48px;
}

@media(max-width: 910px) {
    .table__inputs div {
        border: 0.4px solid #B2B1B1;
        border-radius: 5px;
    }
    }

    .table__inputs input {
        display: block;
        text-align: center;
        height: 46px;
        border-right: 0.4px solid #B2B1B1;
        border-left: 0.4px solid #B2B1B1;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        max-width: 100%;
        flex: 1 1 auto;
    }

.table__inputs > button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__inputs input:valid {
    border: 0.4px solid #26c741;
    border-radius: 5px;
}

@media(max-width: 910px) {
    .table__inputs input {
        border-radius: 5px;
    }
    }

.table__inputs input:focus {
    border: 0.4px solid #4D1D9C;
    border-radius: 5px;
}


.table__arrival-place {
    border-radius:  5px 0 0 5px;
    border-left: none;
}

.table__arrival-place input {
    border-radius:  5px 0 0 5px;
}

@media(max-width: 910px) {
    .table__arrival-place input {
        border: 0;
        border-radius: 5px;
    }
    }

.table__change-postions {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    width: 35px;
}

@media(max-width: 910px) {
    .table__inputs button {
        border: 0.4px solid #B2B1B1;
        border-radius: 5px;
    }
    }

.table__date {

}

@media(max-width: 910px) {
    .table__date input {
        border: 0;
        border-radius: 5px;
    }
    }

.table__form-button {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D1D9C;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 100%;
    min-width: 40px;
    max-width: 50px;
}

.table__form-button > svg {
    align-self: center;
    justify-self: center;
}

@media(max-width: 910px) {
    .table__button {
        border: 0;
        border-radius: 5px;
    }
    }


.table__form-button:hover {
    background-color: #3d167c; 
}

.table__form-button:active {
    background-color: #2a0a5e; 
}

.table__form-button svg path{
    fill: #FFFF;
}

.flights{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F8F8F8;
    height: 611px;
    flex: 1 1 auto;
}

@media(max-width: 456px) {
    .flights {
        height: 750px;
        align-items: start;
        overflow: auto;
    }
    }

.flight__inside{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 762px) {
    .flights-inside {
    }
    }

.flights__table {
    /* margin: 28px 0 47px 0; */
    padding: 28px 0 47px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:537px;
}

.flights__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flights__column.flight__column_first {
    flex: 0 0 calc(450/1152*100%);
}

@media(max-width: 1093px) {
    .flights__column.flight__column_first {
        flex: 0 0 calc(800/1152*100%);
    }
    }
    
    @media(max-width: 762px) {
        .flights__column.flight__column_first {
            flex: 0 0 100%;
        }
        }

.flights__column.flight__column_second {
    flex: 0 0 calc(552/1152*100%);
}

@media(max-width: 1093px) {
    .flights__column.flight__column_second {
        flex: 0 0 calc(800/1152*100%);
    }
    }

    @media(max-width: 762px) {
        .flights__column.flight__column_second {
            flex: 0 0 100%;
            margin-top: 30px;
        }
        }

.flights__column.flights__column.fligths__column_image {
flex: 0 0 auto;
}

@media(max-width: 762px) {
    .flights__column.flights__column.fligths__column_image {
        display: none;
        }        
    }


.flights__subrow.flights__subrow_heading {
    margin: 0 0 0 0;
    justify-content: start;
}

.flights__subrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

@media(max-width: 762px) {
    .flights__subrow {
        flex-wrap: wrap;
        margin-top: 15px;
    }
    }


.flights__subcolumn {
    line-height: 22.5px;
    margin-top: 10px;
}

.flights__heading {
    margin-right: 10px;
    }

    .flights__link {
        font-size: 16px;
        color: #505F79;
    display: flex;
    align-items: end;
    height: 30px;
    }
    
    .flights__link img {
        margin-left: 6px;
    }

.title {
    font-weight: 400;
    font-size: 30px;
    color: #2B2B2B;
}

.flights__city-name {
    font-size: 24px;
    color: #2B2B2B;
    font-weight: 400;
}

.flights__text {
    font-size: 16px;
    font-weight: 300;
}

.flights__price {
    color: #36BB7B;
    font-size: 16px;
    font-weight: 400;
}

.fligths__column_image {
    width: calc(275/1152*100%);
    border-radius: 7px;
}

.fligths__column_image img {
    max-width: 100%;
    border-radius: 7px;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1185px;
    width: 100%;
    background-color: #FFF;
    flex: 1 1 auto;
}

.news__inside {
    height: 100%;
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
}

.news__head.title {
    width: 100%;
    margin-top: 31px;
    line-height: 100px;
}

.news__head-item {
    font-size: 32px;
    font-weight: 400;
}

.news__greed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 830px;
    width: 100%;
}

.news__row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

@media(max-width: 829px) {
    .news__row {
        margin: 0 -16px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    }

.news__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 360px;
    width: calc(320/1152*100%);
    background-color: #FFF;
    border: 0.5px #C9C9C9 solid;
    border-radius: 20px;
}

@media(max-width: 829px) {
    .news__column {
       flex: 0 0 auto;
        min-width: 210px;
        margin-right: 7px;

    }
    }

.news__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.news__gradient {
    align-self: start;
    height: 90px;
    width: 100%;
    border-radius: 20px 20px 0 0;   
}

@media(max-width: 1014px) {
    .news__gradient {
       height: 40px;
    }
    }

.news__gradient.news__gradient_first_gradient {
    background: linear-gradient(45deg, #36BBBB, #FF5372 );
}

.news__gradient.news__gradient_second_gradient {
    background: linear-gradient(45deg, #15FF8F, #AC05FB );
}

.news__gradient.news__gradient_third_gradient {
    background: linear-gradient(45deg, #4D1D9C, #9C1D34 );
}

.news__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 27px 18px 27px;
    border-radius: 0 0 20px 20px;
}

.news__subcolumn {
width: 100%;
}

.news__heading {
    color: #2B2B2B;
    line-height: 35px;
    font-weight: 600;
    font-size: 22px;
    text-align: left;
}

@media(max-width: 928px) {
    .news__heading {
        font-size: 20px;
        line-height: 24px;
    }
    }

@media(max-width: 829px) {
    .news__heading {
        font-size: 18px;
        line-height: 22px;
    }
    }

.news__text {
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    font-size: 14px;
    color: #2B2B2B;
}

@media(max-width: 928px) {
    .news__text {
        font-size: 13px;
        line-height: 20px;
    }
    }

@media(max-width: 829px) {
    .news__text {
        font-size: 13px;
        line-height: 20px;
    }
    }

.news__data {
    font-weight: 300    ;
    line-height: 25px;
    text-align: left;
    font-size: 15px;
    color: #8A8A8A;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4F4;
    height: 128px;
    width: 100%;
    position: relative;
}

@media(max-width: 795px) {
    .footer {
        height: 300px;
        align-items: end;
    }
    }

.footer__inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 17px;
    padding-bottom: 15px;
    position: relative;
}

@media(max-width: 795px) {
    .footer__inside {
        
    }
    }

.footer__row {
   display: flex; 
   align-items: center;
   justify-content: space-between;
   /* width: calc(945/1152*100%); */
   width: 100%;
}

.footer__row.footer__row_first {
position: relative;
flex: 1 1 60px;
}

@media(max-width: 572px) {
    .footer__row.footer__row_first {
        flex: 0 1 200px;
        height: 200px;
        }
    }

.footer__row.footer__row_first:after {
    position: absolute;
    bottom: 0;
    width: calc(396/1152*100%);
    margin-top: 15px;
    height: 1px;
    background-color: #727272;  
}

.footer__row.footer__row_copyrights {
    justify-content: center;
}

.footer__navigation, .footer__contacts {
    width: calc(230/1152*100%); 
}

@media(max-width: 795px) {
    .footer__navigation, .footer__contacts {
        width: 40%;
    }
    }

    @media(max-width: 572px) {
        .footer__navigation, .footer__contacts {
            width: 49%;
            height: 200px;
        }
        }

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    
}

@media(max-width: 572px) {
    .footer__column a {
       display: block;
       height: 25px;
       font-size: 20px;
    }
    }

.footer__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@media(max-width: 572px) {
    .footer__navigation {
        height: 150px;
        align-self: end;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: absolute;
        left: 0;
    }
    .footer__navigation a {
        font-size: 16px;
    }
    }


.footer__navigation a {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer__navigation a:hover {
    color: #3f3f3f;
}

.footer__navigation a:active {
    color: #252525;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: calc(500/1152*100%);
    height: 100%;
    border-bottom: 1px solid #C8C8C8;
}

@media(max-width: 795px) {
    .footer__socials {
        position: absolute;
        top: 0px;
        height: 25%;
        /* border-bottom: none; */
        left: 28.5%;
    }
    }
    
    @media(max-width: 572px) {
        .footer__socials {
            width: calc(700/1152*100%);
            left: 20%;
        }
        }

.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
}

@media(max-width: 795px) {
    .footer__list {
    width: 100%;
    }
    }

.footer__list-item{
    height: 36px;
    width: 36px;
}

.footer__social-link {
    max-width: 100%;
    width: 100%;
    display: block;
    line-height: 100%;
}

.footer__list-item img{
    max-width: 100%;
    width: 100%;
}

.footer__contacts {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}

@media(max-width: 572px) {
    .footer__contacts {
        height: 150px;
        align-self: end;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: absolute;
        right: 0;
    }
    }

.footer__copyrights{
    display: block;
    width: 100%;
    text-align: center;
    color: #21243D;
    font-size: 16px;
    font-weight: 400;   
    line-height: 40px;
    text-align: center;
}